*{
    margin: 0;
    padding: 0;
}
.navbar img{
    width: 100px;
}
.bg-header{
    background-image:linear-gradient( to bottom,white,rgb(39, 39, 163) ) ;
}
.bg-footer{
    background-image:linear-gradient( to top,white,rgb(39, 39, 163) ) ;
}
.card{
    background-image:linear-gradient( to bottom,black,rgb(39, 39, 163) ) ;
    position: relative;
}
.card-t{
    color: white;
    position: absolute;
    top: 0;
    right: 1;
}
.btn{
    padding: 5px 15px;
    background: #0070ba;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 0px 7px 0px #031928;

    &:hover{
        position: relative;
        top: 5px;
        box-shadow: 0px 2px 0px #031928;
        cursor: pointer;
    }
    &:active{
        background-color: rgb(8, 118, 228);
       
    }
}