*{
    margin: 0;
    padding: 0;
}
.navbar img{
    width: 100px;
}
.bg-header{
    background-image:linear-gradient( to bottom,white,rgb(39, 39, 163) ) ;
}
.bg-footer{
    background-image:linear-gradient( to top,white,rgb(39, 39, 163) ) ;
}
.card{
    background-image:linear-gradient( to bottom,black,rgb(39, 39, 163) ) ;
    position: relative;
}
.card-t{
    color: white;
    position: absolute;
    top: 0;
    right: 1;
}
#carouselExampleFade{
    max-width: 1200px; 
    max-height: 600px; 
    margin: 0 auto; 
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px; 
    border: 3px solid #000000; 
    overflow:hidden; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
}